<%= provide :title, "About | " %>
<h1>About</h1>
  <p>
    <%= link_to "Ruby on Rails Tutorial", Settings.links.rails_tutorial.home_page %>
     <%= link_to "Learn Enough", Settings.links.rails_tutorial.about_page %> 
      <%= link_to "Book", Settings.links.rails_tutorial.book_page %> 
     <%= link_to "Ruby on Rails", Settings.links.rails_tutorial.rails_page  %>.
    This is the sample app for the tutorial.
  </p>
