<footer class="footer">
  <small>
    The <%= link_to "Ruby on Rails Tutorial", Settings.links.rails_tutorial.home_page %>
    by <%= link_to "Michael Hartl", Settings.links.rails_tutorial.michael_hartl %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", Settings.links.rails_tutorial.news %></li>
    </ul>
  </nav>
</footer>
